.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 2rem;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 20px;
  font-family: 'Georgia', cursive;
  text-shadow: 15px 0 #232931;
  font-size: 4.5rem;
  color: Yellow;
}

h4 {
  color: pink;
  font-size: 2rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.playButtonDiv {
  text-align: center;
  align-self: center;
}

.playButton {
  text-align: center;
  align-self: center;
  padding: 1rem 2rem;
  background-color: #4CAF50; /* Green */
  border:2rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
}
